This is a Jupyter Notebook to record some techniques to preprocess data how to handle missing values

In [1]:
import pandas as pd
from io import StringIO

In [14]:
csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''
df = pd.read_csv(StringIO(csv_data))
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

##### check if it have nulls

In [3]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

## Eliminating

In [15]:
#Eliminating Rows
df.dropna()

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [16]:
#Eliminating Columns
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [17]:
#only drop rows where all columns have NaN
df.dropna(how='all')

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [18]:
#only drop rows that have not least 4 non-NaN Values 
df.dropna(thresh=4)

     A    B    C    D
0  1.0  2.0  3.0  4.0

## Imputing

#### Mean Imputation

In [9]:
from sklearn.preprocessing import Imputer

In [21]:
imr = Imputer(missing_values='NaN', strategy='mean', axis=0)
imr = imr.fit(df)
imputed_data = imr.transform(df.values)
imputed_data

array([[  1. ,   2. ,   3. ,   4. ],
       [  5. ,   6. ,   7.5,   8. ],
       [ 10. ,  11. ,  12. ,   6. ]])